  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    user-select: none;
  }

.container{
    width: 100vw;
    height: 100dvh;
    display: grid;
    place-items: center;
    overflow: hidden;
}
img{
  width: 100%;
  height: 100%;
}
 .img_container{
    width: 400px;
    height: 400px;
  }
   
  .btn{
    width: 80px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 16px;
    text-align: center;
    font-size: 16px;
  }

  @media (max-width: 325px) {
    .container .img_container img {
      width: 300px;
      height: 300px;
    }
    .container .controls button, .container .controls select {
      font-size: 0.8rem;
    }
  }

  .fan {
    animation: rotate linear infinite;
    animation-duration: .7s;
    animation-play-state: running;
    transition: animation-duration 1s ease;
  }
  .fan-paused{
    animation-play-state: paused;
  }
  
  @keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .green {
    color: rgb(82, 255, 82) !important;
  }